html
{
    height:100%;
    margin:0;
}
body
{
    height:100%;
    margin:0;
}

.div-center{
    background-color: aquamarine;
    height: 200px;
}
.middle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

